body {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  color: #71d4ff;
  font-family: sans-serif;
  background-color: #212121;
}

.loader {
  overflow: hidden;
  border-right: 3px solid;
  animation:
    typewriter 2s steps(10) infinite alternate,
    blink 0.5s steps(10) infinite;
}