body {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  color: #71d4ff;
  font-family: sans-serif;
  background-color: #212121;
}

.loader {
  overflow: hidden;
  border-right: 3px solid;
  animation:
    typewriter 2s steps(10) infinite alternate,
    blink 0.5s steps(10) infinite;
}

.loader-text {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(to right, #159957, #155799);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}